<ul (drop)="ctrlDrop($event)">
    <li *ngFor="let task of tasksList" (dragover)="itemDragOver($event, task)" class="flex item">
        <div class="flex items-center pr-2">
            <a (click)="toggleCompletedTask(task)" class="cursor-pointer">
                <span *ngIf="!task.completed"><i class="unchecked-icon"></i></span>
                <span *ngIf="task.completed"><i class="checked-icon"></i></span>
            </a>
        </div>
        <a (click)="toggleCompletedTask(task)" class="grow cursor-pointer">
            <div [class.text-through]="task.completed" draggable="true" (dragstart)="itemDragged($event, task)" class="grow">{{task.title}}</div>
        </a>
        <div class="flex items-center">
            <a (click)="removeTask(task)" class="cursor-pointer"><span><i class="trash-icon"></i></span></a>
        </div>
    </li>
    <li>
        <input type="text" name="add" (dragover)="itemDragOver($event)" class="add-task" placeholder="Agregar nueva tarea aquí..." (keyup.enter)="addTask($event)">
    </li>
</ul>