<div class="bg-image w-full min-h-screen p-3">
    <header class="grid grid-cols-1 lg:grid-cols-3 gap-3 mb-3">
        <div>
            <h1 class="font-fredericka-the-great text-center text-2xl sm:text-3xl md:text-4xl lg:text-5xl">PLANNER SEMANAL</h1>
            <h2 class="flex flex-wrap justify-center font-amatic-sc text-lg sm:text-xl md:text-2xl">
                <span>((( LIBERA TU MENTE... </span>
                <span>MEJOR ANÓTALO. )))</span>
            </h2>  
        </div>
        <div class="lg:col-span-2">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
                <div>
                    <div class="w-full flex justify-center">
                        <h3 class="ribbon">NO OLVIDARME DE:</h3>
                    </div>
                    <ul>
                        <li class="item">Buscar una fuente nueva porque no se lee un carajo!!!</li>
                        <li class="item">Java SE 11 capítulo 10</li>
                        <li class="item">Java SE 11 capítulo 10</li>
                        <li class="item">Java SE 11 capítulo 10</li>
                    </ul>
                </div>
                <div>
                    <div class="w-full flex justify-center">
                        <h3 class="ribbon">PROMETO HACER:</h3>
                    </div>
                    <ul>
                        <li class="item">Java SE 11 capítulo 10</li>
                        <li class="item">Java SE 11 capítulo 10</li>
                        <li class="item">Java SE 11 capítulo 10</li>
                        <li class="item">Java SE 11 capítulo 10</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-3 mb-3">
        <div>
            <h3>LUNES [ 14 ]</h3>
            <ul>
                <li class="item">Java SE 11 capítulo 10 y prueba de sobrepaso de línea</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
            </ul>
        </div>
        <div>
            <h3>MARTES [ 14 ]</h3>
            <ul>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
            </ul>
        </div>
        <div>
            <h3>MIÉRCOLES [ 14 ]</h3>
            <ul>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
            </ul>
        </div>
        <div>
            <h3>JUEVES [ 14 ]</h3>
            <ul>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
            </ul>
        </div>
        <div>
            <h3>VIERNES [ 14 ]</h3>
            <ul>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
            </ul>
        </div>
        <div class="grid grid-cols-1 gap-3">
            <div>
                <h3>SÁBADO [ 14 ]</h3>
                <ul>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                </ul>
            </div>
            <div>
                <h3>DOMINGO [ 14 ]</h3>
                <ul>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                </ul>
            </div>
        </div>
    </main>

    <footer class="grid grid-cols-1 sm:grid-cols-2 gap-10">
        <div>
            <h3 class="ribbon-2">LA FRASE DE LA SEMANA...</h3>
            <ul>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
            </ul>
        </div>
        <div>
            <h3 class="ribbon-2">SIN FALTA LA PRÓXIMA...</h3>
            <ul>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
                <li class="item">Java SE 11 capítulo 10</li>
            </ul>
        </div>
    </footer>
</div>