<div class="bg-image w-full min-h-screen">
    <div class="mb-5 p-3">
        <header class="grid grid-cols-1 lg:grid-cols-3 gap-3 mb-3">
            <div>
                <h1 class="font-fredericka-the-great text-center text-3xl sm:text-4xl lg:text-5xl">PLANNER SEMANAL</h1>
                <h2 class="flex flex-wrap justify-center font-amatic-sc text-lg sm:text-xl md:text-2xl">
                    <span>((( LIBERA TU MENTE... </span>
                    <span>MEJOR ANÓTALO. )))</span>
                </h2>  
            </div>
            <div class="lg:col-span-2">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
                    <div>
                        <div class="w-full flex justify-center">
                            <h3 class="ribbon">NO OLVIDARME DE:</h3>
                        </div>
                        <app-todo [group]="GROUP.dontForgetAbout"></app-todo>
                    </div>
                    <div>
                        <div class="w-full flex justify-center">
                            <h3 class="ribbon">PROMETO HACER:</h3>
                        </div>
                        <app-todo [group]="GROUP.iPromiseToDo"></app-todo>
                    </div>
                </div>
            </div>
        </header>

        <main class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-3 mb-3">
            <div>
                <h3>LUNES [ {{datesOfWeek[0]}} ]</h3>
                <app-todo [group]="GROUP.monday"></app-todo>
            </div>
            <div>
                <h3>MARTES [ {{datesOfWeek[1]}} ]</h3>
                <app-todo [group]="GROUP.tuesday"></app-todo>
            </div>
            <div>
                <h3>MIÉRCOLES [ {{datesOfWeek[2]}} ]</h3>
                <app-todo [group]="GROUP.wednesday"></app-todo>
            </div>
            <div>
                <h3>JUEVES [ {{datesOfWeek[3]}} ]</h3>
                <app-todo [group]="GROUP.thursday"></app-todo>
            </div>
            <div>
                <h3>VIERNES [ {{datesOfWeek[4]}} ]</h3>
                <app-todo [group]="GROUP.friday"></app-todo>
            </div>
            <div class="grid grid-cols-1 gap-3">
                <div>
                    <h3>SÁBADO [ {{datesOfWeek[5]}} ]</h3>
                    <app-todo [group]="GROUP.saturday"></app-todo>
                </div>
                <div>
                    <h3>DOMINGO [ {{datesOfWeek[6]}} ]</h3>
                    <app-todo [group]="GROUP.sunday"></app-todo>
                </div>
            </div>
        </main>

        <footer class="grid grid-cols-1 sm:grid-cols-2 gap-10">
            <div>
                <h3 class="ribbon-2">LA FRASE DE LA SEMANA...</h3>
                <app-todo [group]="GROUP.phraseOfTheWeek"></app-todo>
            </div>
            <div>
                <h3 class="ribbon-2">SIN FALTA LA PRÓXIMA...</h3>
                <app-todo [group]="GROUP.withoutFailNextWeek"></app-todo>
            </div>
        </footer>
    </div>

    <div class="flex flex-col sm:flex-row px-3 pb-3 text-sm">
        <div class="text-center italic mb-2">
            <span *ngIf="remainingTasks == 0">No hay tareas pendientes...</span>
            <span *ngIf="remainingTasks == 1">Falta {{remainingTasks}} tarea...</span>
            <span *ngIf="remainingTasks > 1">Faltan {{remainingTasks}} tareas...</span>
        </div>
        <div class="flex flex-auto flex-wrap justify-center mb-2">
            <button (click)="showTasks(STATUS.all)" [ngClass]="status == STATUS.all ? 'bg-white' : 'bg-gray-400'"  class="px-4 border border-solid border-black rounded mx-1">Todas</button>
            <button (click)="showTasks(STATUS.active)" [ngClass]="status == STATUS.active ? 'bg-white' : 'bg-gray-400'" class="px-4 border border-solid border-black rounded mx-1">Activas</button>
            <button (click)="showTasks(STATUS.completed)" [ngClass]="status == STATUS.completed ? 'bg-white' : 'bg-gray-400'"  class="px-4 border border-solid border-black rounded mx-1">Completas</button>
        </div>
        <div class="text-center mb-2">
            <button (click)="clearCompletedTasks()" class="px-4 bg-gray-400 border border-solid border-black rounded mx-1">Limpiar completas</button>
        </div>
    </div>
</div>