<div class="bg-image w-full min-h-screen">
    <div class="mb-5 p-3">
        <header class="grid grid-cols-1 lg:grid-cols-3 gap-3 mb-3">
            <div>
                <h1 class="font-fredericka-the-great text-center text-2xl sm:text-3xl md:text-4xl lg:text-5xl">PLANNER SEMANAL</h1>
                <h2 class="flex flex-wrap justify-center font-amatic-sc text-lg sm:text-xl md:text-2xl">
                    <span>((( LIBERA TU MENTE... </span>
                    <span>MEJOR ANÓTALO. )))</span>
                </h2>  
            </div>
            <div class="lg:col-span-2">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
                    <div>
                        <div class="w-full flex justify-center">
                            <h3 class="ribbon">NO OLVIDARME DE:</h3>
                        </div>
                        <ul>
                            <li class="item">Java SE 11 capítulo 10</li>
                            <li class="item">Java SE 11 capítulo 10</li>
                            <li class="item">Java SE 11 capítulo 10</li>
                            <li class="add-task">Agregar nueva tarea aquí...</li>
                        </ul>
                    </div>
                    <div>
                        <div class="w-full flex justify-center">
                            <h3 class="ribbon">PROMETO HACER:</h3>
                        </div>
                        <ul>
                            <li class="flex item">
                                <div class="flex items-center pr-2">
                                    <span><i class="unchecked-icon"></i></span>
                                </div>
                                <div class="grow">Java SE 11 capítulo 10</div>
                                <div class="flex items-center">
                                    <span><i class="trash-icon"></i></span>
                                </div>
                            </li>
                            <li class="flex item">
                                <div class="flex items-center pr-2">
                                    <span><i class="checked-icon"></i></span>
                                </div>
                                <div class="grow line-through">Java SE 11 capítulo 10</div>
                                <div class="flex items-center">
                                    <span><i class="trash-icon"></i></span>
                                </div>
                            </li>
                            <li class="flex item">
                                <div class="flex items-center pr-2">
                                    <span><i class="checked-icon"></i></span>
                                </div>
                                <div class="grow line-through">Java SE 11 capítulo 10</div>
                                <div class="flex items-center">
                                    <span><i class="trash-icon"></i></span>
                                </div>
                            </li>
                            <li class="flex item">
                                <div class="flex items-center pr-2">
                                    <span><i class="unchecked-icon"></i></span>
                                </div>
                                <div class="grow">Java SE 11 capítulo 10</div>
                                <div class="flex items-center">
                                    <span><i class="trash-icon"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-3 mb-3">
            <div>
                <h3>LUNES [ 14 ]</h3>
                <ul>
                    <li class="flex item">
                        <div class="flex items-center pr-2">
                            <span><i class="unchecked-icon"></i></span>
                        </div>
                        <div class="grow">Java SE 11 capítulo 10 y prueba de sobrepaso de línea</div>
                        <div class="flex items-center">
                            <span><i class="trash-icon"></i></span>
                        </div>
                    </li>
                    <li class="flex item">
                        <div class="flex items-center pr-2">
                            <span><i class="unchecked-icon"></i></span>
                        </div>
                        <div class="grow">Java SE 11 capítulo 10</div>
                        <div class="flex items-center">
                            <span><i class="trash-icon"></i></span>
                        </div>
                    </li>
                    <li class="flex item">
                        <div class="flex items-center pr-2">
                            <span><i class="checked-icon"></i></span>
                        </div>
                        <div class="grow line-through">Java SE 11 capítulo 10 y prueba de sobrepaso de línea</div>
                        <div class="flex items-center">
                            <span><i class="trash-icon"></i></span>
                        </div>
                    </li>
                    <li class="flex item">
                        <div class="grow">Java SE 11 capítulo 10</div>
                        <div class="flex items-center">
                            <span><i class="trash-icon"></i></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <h3>MARTES [ 14 ]</h3>
                <ul>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                </ul>
            </div>
            <div>
                <h3>MIÉRCOLES [ 14 ]</h3>
                <ul>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                </ul>
            </div>
            <div>
                <h3>JUEVES [ 14 ]</h3>
                <ul>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                </ul>
            </div>
            <div>
                <h3>VIERNES [ 14 ]</h3>
                <ul>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                </ul>
            </div>
            <div class="grid grid-cols-1 gap-3">
                <div>
                    <h3>SÁBADO [ 14 ]</h3>
                    <ul>
                        <li class="item">Java SE 11 capítulo 10</li>
                        <li class="item">Java SE 11 capítulo 10</li>
                        <li class="item">Java SE 11 capítulo 10</li>
                    </ul>
                </div>
                <div>
                    <h3>DOMINGO [ 14 ]</h3>
                    <ul>
                        <li class="item">Java SE 11 capítulo 10</li>
                        <li class="item">Java SE 11 capítulo 10</li>
                    </ul>
                </div>
            </div>
        </main>

        <footer class="grid grid-cols-1 sm:grid-cols-2 gap-10">
            <div>
                <h3 class="ribbon-2">LA FRASE DE LA SEMANA...</h3>
                <ul>
                    <li class="item">Java SE 11 capítulo 10</li>
                    <li class="item">Java SE 11 capítulo 10</li>
                </ul>
            </div>
            <div>
                <h3 class="ribbon-2">SIN FALTA LA PRÓXIMA...</h3>
                <ul>
                    <li class="flex item">
                        <div class="flex items-center pr-2">
                            <span><i class="unchecked-icon"></i></span>
                        </div>
                        <div class="grow">Java SE 11 capítulo 10</div>
                        <div class="flex items-center">
                            <span><i class="trash-icon"></i></span>
                        </div>
                    </li>
                    <li class="flex item">
                        <div class="flex items-center pr-2">
                            <span><i class="checked-icon"></i></span>
                        </div>
                        <div class="grow line-through">Java SE 11 capítulo 10</div>
                        <div class="flex items-center">
                            <span><i class="trash-icon"></i></span>
                        </div>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    <div class="flex px-3 text-sm">
        <div>
            <span class="italic">Faltan 15 tareas...</span>
        </div>
        <div class="flex flex-auto justify-center">
            <button class="px-4 bg-white border border-solid border-black rounded mx-1">Todas</button>
            <button class="px-4 bg-gray-400 border border-solid border-black rounded mx-1">Activas</button>
            <button class="px-4 bg-gray-400 border border-solid border-black rounded mx-1">Completas</button>
        </div>
        <div>
            <button class="px-4 bg-gray-400 border border-solid border-black rounded mx-1">Limpiar completas</button>
        </div>
    </div>
</div>